# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "schools_complete.csv"
student_data_to_load = "students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
#create data frame form csv document
school_complete_df = pd.DataFrame(school_data_complete)
#list columns to have an overview
school_complete_df.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [3]:
# using the dataframe extracted from the csv file
# find unique values in school name and count them
schools_total = len(school_complete_df["school_name"].unique())

#count the lenght of the columns student name 
students_total = len( school_complete_df["student_name"])

# find out the total budget per school 
#use unique to add each value only once
budget = school_complete_df["budget"].unique()

# sum budget from all schools
total_budget = budget.sum()

# sum the math/reading score from all students and find its average
average_math = school_complete_df["math_score"].mean()
average_reading = school_complete_df["reading_score"].mean()

# find out how many students got 70 or more, divide it by total students and multiply by 100
# to find out passing rates
passing_math = ((len(school_complete_df.loc[school_complete_df["math_score"] >= 70]))/students_total)*100
passing_reading = ((len(school_complete_df.loc[school_complete_df["reading_score"] >= 70]))/students_total)*100

# sum passing rates and divide by 2 to get the overal rate
overall_rate = (passing_math + passing_reading)/2

# create a new table with the values found
district_dict = {"Total Schools": [schools_total], "Total Students":[students_total],
                    "Total Budget":[total_budget],"Average Math Score":[average_math],
                    "Average Reading Score": [average_reading], "% Passing Math":[passing_math],
                    "% Passing Reading": [passing_reading], "% Overal Passing Rate":[overall_rate]}

# create a new data frame with the new table
district_summary = pd.DataFrame(district_dict)    
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overal Passing Rate
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,80.393158

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [4]:
# new columns created to hold values of students with passing scores for math and reading

# selected just 3 columns to be displayed in the reading pass score table
scores_r = school_complete_df [["Student ID","student_name", "reading_score"]]
scores_r_df = pd.DataFrame(scores_r)

# from the selected columns found only the students with grade 70 or higher
high_reading = scores_r_df.loc[scores_r_df["reading_score"] >= 70]
high_reading_df = pd.DataFrame(high_reading)

# renamed the columns to become a new column so it won't conflict when we merge
reading = high_reading_df.rename(columns={"reading_score":"Passing Reading"})

#same steps done from above 
scores_m = school_complete_df [["Student ID","student_name", "math_score"]]
scores_m_df = pd.DataFrame(scores_m)
high_math = scores_m_df.loc[scores_m_df["math_score"] >= 70]
high_math_df = pd.DataFrame(high_math)
math = high_math_df.rename(columns={"math_score":"Passing Math"})

#created a new variables to hold the merges, using name and student ID 
#used left to protecting the dataframe on the left
#merge was done twice, one for each new data frame created
new_school_complete1 = pd.merge(school_complete_df, reading, on=("Student ID","student_name"), how="left")
new_school_complete = pd.merge(new_school_complete1, math, on= ("Student ID","student_name"), how="left")

new_school_complete_df = pd.DataFrame(new_school_complete)
new_school_complete_df.to_csv("passing.csv", header=True)
new_school_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,Passing Reading,Passing Math
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,NaN,79.0
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,94.0,NaN
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,90.0,NaN
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,NaN,NaN
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,97.0,84.0

In [32]:
# groupby non-variable columns
new_school_complete_df = new_school_complete_df.rename(columns = {"school_name": "School Name", "type": "School Type"})
grouped_schools = new_school_complete_df.groupby(["School Name","School Type"])

# using grouped columns, perform data functions 
# since total budget was merged each time the school name apperead
# we had to assign to the variable as mean, because the sum was adding all 
#imported budget for each school, so mean brought it back to the total per school only once
total_budget = grouped_schools["budget"].mean()
total_budget_df = pd.DataFrame(total_budget)
total_budget
total_students = grouped_schools["student_name"].count()
total_students_df = pd.DataFrame(total_students)

average_scores = grouped_schools["reading_score", "math_score"].mean()
average_scores_df = pd.DataFrame(average_scores)

passing_reading = ((grouped_schools["Passing Reading"].count())/total_students)*100
passing_math = ((grouped_schools["Passing Math"].count())/total_students)*100

# sum passing rates and divide by 2 to get the overal rate
overall_rate = (passing_math + passing_reading)/2

schools_summary_1 = pd.merge(total_students_df, total_budget_df,  on=("School Name","School Type"))
schools_summary_1_df = pd.DataFrame(schools_summary_1)

schools_summary_1["Per Student Budget"] = (total_budget/total_students)

schools_summary_2 = pd.merge(schools_summary_1_df, average_scores_df, on=("School Name","School Type"))
schools_summary_2_pd = pd.DataFrame(schools_summary_2)
schools_summary_2["% Passing Reading"] = passing_reading
schools_summary_2["% Passing Math"] = passing_math
schools_summary_2["Overall Passing Rate"] = overall_rate
schools_summary = pd.DataFrame(schools_summary_2)
schools_summary = schools_summary.rename(columns = {"student_name": "Students Total ", "budget":"Total Budget",  "reading_score":"Reading Score",
                                                      "math_score":"Math Score"})

schools_summary["Total Budget"] = schools_summary["Total Budget"].map("${:,.2f}".format)
schools_summary["Per Student Budget"] = schools_summary["Per Student Budget"].map("${:.2f}".format)
schools_summary["Reading Score"] = schools_summary["Reading Score"].map("{:.1f}".format)
schools_summary["Math Score"] = schools_summary["Math Score"].map("{:.1f}".format)
schools_summary["% Passing Reading"] = schools_summary["% Passing Reading"].map("{:.3f} %".format)
schools_summary["% Passing Math"] = schools_summary["% Passing Math"].map("{:.3f} %".format)
schools_summary["Overall Passing Rate"] = schools_summary["Overall Passing Rate"].map("{:.3f} %".format)
schools_summary.head()

,,Students Total,Total Budget,Per Student Budget,Reading Score,Math Score,% Passing Reading,% Passing Math,Overall Passing Rate
School Name,School Type,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,81.0,77.0,81.933 %,66.680 %,74.307 %
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,84.0,83.1,97.040 %,94.133 %,95.587 %
Figueroa High School,District,2949,"$1,884,411.00",$639.00,81.2,76.7,80.739 %,65.988 %,73.364 %
Ford High School,District,2739,"$1,763,916.00",$644.00,80.7,77.1,79.299 %,68.310 %,73.804 %
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.8,83.4,97.139 %,93.392 %,95.266 %

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [34]:
top_schools = schools_summary.sort_values("Overall Passing Rate", ascending = False)
top_5_schools = pd.DataFrame(top_schools.head(5))
top_5_schools

,,Students Total,Total Budget,Per Student Budget,Reading Score,Math Score,% Passing Reading,% Passing Math,Overall Passing Rate
School Name,School Type,,,,,,,,
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,84.0,83.1,97.040 %,94.133 %,95.587 %
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.8,83.4,97.309 %,93.272 %,95.291 %
Pena High School,Charter,962,"$585,858.00",$609.00,84.0,83.8,95.946 %,94.595 %,95.270 %
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.8,83.4,97.139 %,93.392 %,95.266 %
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,84.0,83.3,96.540 %,93.868 %,95.204 %

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [35]:
bottom_schools =schools_summary.sort_values("Overall Passing Rate")
bottom_5_schools = pd.DataFrame(bottom_schools.head(5))
bottom_5_schools

,,Students Total,Total Budget,Per Student Budget,Reading Score,Math Score,% Passing Reading,% Passing Math,Overall Passing Rate
School Name,School Type,,,,,,,,
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,80.7,76.8,80.220 %,66.367 %,73.293 %
Figueroa High School,District,2949,"$1,884,411.00",$639.00,81.2,76.7,80.739 %,65.988 %,73.364 %
Huang High School,District,2917,"$1,910,635.00",$655.00,81.2,76.6,81.316 %,65.684 %,73.500 %
Johnson High School,District,4761,"$3,094,650.00",$650.00,81.0,77.1,81.222 %,66.058 %,73.640 %
Ford High School,District,2739,"$1,763,916.00",$644.00,80.7,77.1,79.299 %,68.310 %,73.804 %

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.